/* Angular Imports */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* width */
::-webkit-scrollbar {
	width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
	opacity: 0;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #ffb812;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(135deg, #ffb812 0%, #ff9812 100%);
}

body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE and Edge */
body {
	background-color: white;
	overflow: auto;
	-ms-overflow-style: none;
}

/* Alyle Overrides */
/* Refer to `home.component.ts` to override Alyle styles */

/* Angular Material Overrides */
/* Due to Material's CSS injection, we cannot override the styles in this file without using `!important` */
.mat-dialog-container {
	box-shadow: none!important;
	border-radius: 0!important;
	padding-top: 0!important;
}
.mat-dialog-content {
	/* margin: 0!important;
	padding: 0!important; */
}
.cdk-global-scrollblock {
}

/* Native UI Overrides */
html * {
	/* color: white !important; */
}
body {
	/*max-width: 800px;*/
	/* background-image: linear-gradient(to bottom right, #005fd6, #32f2ff); */
	margin: auto;
}
h1, h2, h3, h4, h5 {
	margin-top: 0 !important;
}
hr {
	border-top: none;
	opacity: 0.5;
	margin: 100px 0;
}
body p {
	margin-top: 0;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
	outline: none;
}

.input {
	width: 100%;
	height: 50px;
	padding: 20px;
	border: none;
	border-radius: 5px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }