<h2 mat-dialog-title>{{ this.data.name }}</h2>
<mat-dialog-content>
	<div fxLayout="row" fxLayoutGap="20px">
		<div fxLayout="column" fxFlex="50">
			<img [src]="this.data.image" class="product-image" />
			<img [src]="this.data.image" class="product-image" />
			<img [src]="this.data.image" class="product-image" />
		</div>
		<div fxFlex="50" class="product-description-container">
			<p>{{ this.data.description }}</p>
		</div>
	</div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="end">
	<button ly-button bg="Crispr" style="margin-right: 10px;">
		<span style="margin-right: 10px;">Add to Cart</span>
		<ly-icon>add</ly-icon>
	</button>

	<button ly-button>
		<ly-icon>share</ly-icon>
	</button>
</mat-dialog-actions>