ly-card {
	margin-bottom: 20px;
	filter: brightness(1);
	transition: filter .05s ease-in-out;
	cursor: pointer;
}

ly-card ly-card-actions {
	opacity: 0;
	transition: opacity 0.05s ease-in-out;
}

ly-card:hover {
	filter: brightness(1.1);
}

ly-card:hover ly-card-actions {
	opacity: 1;
}

ly-card ly-card-content {
	overflow-y: auto;
	padding: 20px 0 0 0;
	margin-bottom: 15px;
}

ly-card ly-card-content p {
	white-space: nowrap;
	overflow: hidden;
  	width:auto;
	text-overflow: ellipsis;
}

.product-description {
	max-height: 200px;
}
